.featured {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem {
    position: relative;
    color: var(--White);
    border-radius: 10px;
    overflow: hidden;
}

.perantImage {
    height: 320px;
}

.featuredImg {
    width: 100%;
    object-fit: cover;
}

.featuredTitles {
    position: absolute;
    inset-block-end: 20px;
    inset-inline-start: 20px;
}

.featuredTitles span {
    font-weight: 700;
}

@media (max-width: 576px) {
    .featuredTitles {
        inset-block-end: 40px;
    }
}

@media (max-width: 991.98px) {
    .featured {
        flex-direction: column;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .featuredTitles {
        inset-block-end: 25px;
    }
}