.navbar {
    display: flex;
    justify-content: space-between;
    padding-block: 15px;
}

.logo {
    color: var(--White);
    cursor: pointer;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
}

.navButton {
    border: none;
    font-weight: 500;
    padding: 9px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #0071c2;
    transition: background-color .1s;
}

.navButton:hover {
    background-color: rgba(243, 243, 243, .9);
}

.navButton:last-child {
    margin-inline-start: 20px;
}