.navbar {
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
}

.navButton {
    border: none;
    font-weight: 500;
    padding: 9px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #0071c2;
    transition: background-color .1s;
}

.navButton:hover {
    background-color: rgba(243, 243, 243, .9);
}

.navButton:last-child {
    margin-inline-start: 20px;
}