.mail {
    width: 100%;
    margin-top: 50px;
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 50px;
}

.mailInputContainer > input {
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.mailInputContainer > button {
    border: none;
    height: 50px;
    min-width: 120px;
    color: white;
    background-color: #0071c2;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}